<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>太乙代理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/vendor.css?time=2023071905"/>
    <link rel="stylesheet" href="/static/app.css?time=2023071905"/>
    <link rel="icon" href="/static/images/favicon.ico?time=2023071905" type="image/x-icon"/>
    <script src="/conf.js?time=2023071905"></script>
    <script src="/static/app.js?time=2023071905"></script>
</head>
<body>
<div id="mitmproxy"></div>
</body>
</html>
